hostname = *.barventory.com

^https?:\/\/.*\.barventory\.com\/.* url script-request-body https://raw.githubusercontent.com/umalaaa/qccfig-mirror/main/scripts/request_logger_raw.js
^https?:\/\/.*\.barventory\.com\/.* url script-response-body https://raw.githubusercontent.com/umalaaa/qccfig-mirror/main/scripts/response_logger_raw.js
